nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(155, 121, 121);
    padding: 20px 80px;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            padding: 0 20px;
            position: relative;

            a {
                text-decoration: none;
                font-size: 25px;
                font-weight: 600;
                color: $color-primary;
                transition: 0.3s ease-in-out;
            }

            a:hover {
                color: white;
            }

        }
    }

    
  
}